.actionRow {
  width: 10%;
  padding: 10px;
  margin-bottom:20px;
  margin-left: 10px;
  margin-right: 10px;
}

.settingsRow {
  padding: 8px 12px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #00ccff;
  border: 2px solid #ffffff;
  border-radius: 7px;
}