<!DOCTYPE html>
<html lang="en" style="background-color: #f8f6f8;">
<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.css">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/tweets.css' %}">
</head>
<body style="background-color: #f8f6f8;">
    <div id="navbar-holder">{% include "navbar.html" with name=name %}</div>
    <div>
        <div class="tab" id="mytab">
        {% for key, region in regions.items %}
            <button class="tablinks button" onclick="openCity(event, '{{key}}')">{{key}}</button>
        {% endfor %}
            <div id="addRegionTab">
                <button id="addRegion" class="tablinks button" onclick="addRegionTab()">&#43;</button>
                <input style="float: left" type="text" id="region" placeholder="region name">
                <button style="float: left" class="button" id="arrow" onclick="submitRegionName()"><i style="float: left; display:inline-block;" id="arr" class="fa fa-caret-square-o-right"></i></button>
            </div>
        </div>
        {% for key, region in regions.items %}
        <div id="{{key}}" class="tabcontent">
            <button class="button" onclick="removeRegion('{{key}}')" style="float: right">Delete {{key}}</button>
            <table class="table table-striped" id="placeTable_{{key}}" style="width:90%" border="1" data-toggle="table" data-show-columns="true" data-show-export="true" data-search="true" data-advanced-search="true">
                <thead>
                <tr>
                    <th>name</th>
                    <th>latitude</th>
                    <th>longitude</th>
                    <th>radius</th>
                    <th>language</th>
                    <th>tweets count</th>
                    <th>users count</th>
                    <th>last tweet date</th>
                    <th>remove</th>
                </tr>
                </thead>
                <tbody>
                {% for keyp, place in region.get_places_handle.items %}
                <tr>
                    <td>{{place.get_name}}</td>
                    <td>{{place.get_latitude}}</td>
                    <td>{{place.get_longitude}}</td>
                    <td>{{place.get_radius}}</td>
                    <td>{{place.get_language}}</td>
                    <td>{{place.get_tweet_number}}</td>
                    <td>{{place.get_user_number}}</td>
                    <td>{{place.last_tweet_date}}</td>
                    <td><button class="button" onclick="removePlace('{{key}}', '{{place.get_name}}')">remove</button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
    <div>
        <button style="float: left; margin-top: 20px;" class="button" id="addPlace" onclick="addPlaceRow()">&#43;</button>
        <form id="place_form" style="float: left; margin-top: 20px" action="/dashboard/{{name}}" method="post">
            {% csrf_token %}
            {{ place_form }}
            <input class="button" type="submit" value="Add place">
        </form>
    </div>
    <div id="forms">
        <form id="region_form" action="/dashboard/{{name}}" method="post">
            {% csrf_token %}
            {{ region_form }}
            <input class="button" type="submit" value="Add region">
        </form>
        <br>
        <form method="post" id="removeForm" style="visibility: hidden; height: 0">
            {% csrf_token %}
            {{ tweets_form }}
            <input id="removePlaceSubmit" type="submit" formaction="/dashboard/{{name}}" value="Remove Place">
        </form>
    </div>

</body>
{% include "basicScripts.html" %}
{% include "tableScripts.html" %}
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
<script>
    function countRows(button) {
        if (button.innerHTML == "Count Places") {
            var tbodyRowCount = document.getElementById("placeTable").tBodies[0].rows.length;
            button.innerHTML = tbodyRowCount.toString();
        } else {
            button.innerHTML = "Count Places";
        }
    }
    window.addEventListener('load', (event) => {
        hideElement("region");
        hideElement("forms");
        hideElement("arrow");
        hideElement("place_form");
        var tablinks = document.getElementsByClassName("tablinks");
        var tabllinkszero = tablinks[0];
        tabllinkszero.className += " active";
        var txt = tabllinkszero.textContent || tabllinkszero.innerText;
        if (txt == "+") {
            hideElement("addPlace");
        } else {
            document.getElementById(txt).style.display = "block";
        }
    });
</script>
</html>