<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Popular Users</title>
    <link href="{% static 'css/nouislider.css' %}" rel="stylesheet">
    <link href="{% static 'css/popular_users.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.css">
</head>
<body>
    <div id="navbar-holder">{% include "navbar.html" with name=user %}</div>
    <p id="user" hidden="hidden">{{user}}</p>
    {% include "placeListGen.html" %}
    <button id="collect_tweets" onclick="collectTweets()">Collect Tweets</button>
    <button id="show_Users" onclick="showPopularUsers()">Show Popular Users</button>
    <p></p>
    <div>
        <p class="slider_label">Followers:</p><div id="followers_slider" class="slider"></div>
        <button id="followers_button" class="slider_button" onclick="switchData(0)">AND</button><br>
    </div>
    <p></p>
    <div>
        <p class="slider_label">Retweets:</p><div id="retweet_slider" class="slider"></div>
        <button id="retweet_button" class="slider_button" onclick="switchData(1)">AND</button><br>
    </div>
    <p></p>
    <p class="slider_label">Favorites:</p><div id="favorites_slider" class="slider"></div>
    <button id="favorites_button" class="slider_button" onclick="switchData(2)">AND</button><br>
    <p></p>
    <p class="slider_label">Replies:</p><div id="replies_slider" class="slider"></div>
    <button id="replies_button" class="slider_button" onclick="switchData(3)">AND</button><br>
    <p></p>
    <p class="slider_label">Quoted:</p><div id="quoted_slider" class="slider"></div>
    <button id="quoted_button" class="slider_button" onclick="switchData(4)">AND</button><br>
    <p></p>
    {% include "usersTable.html" %}
</body>
{% include "basicScripts.html" %}
{% include "tableScripts.html" %}
<script src="{% static 'js/nouislider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tweets.js' %}"></script>
<script type="text/javascript" src="{% static 'js/twitter_users.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popular_users.js' %}"></script>
</html>