<!doctype html>
{% load static %}
<html lang="en" xmlns:float="http://www.w3.org/1999/xhtml" style="background-color: #f8f6f8;">
<head>
    <meta charset="UTF-8">
    <title>Tweets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.css">
    <link rel="stylesheet" href="{% static 'css/sameRow.css' %}">
    <link rel="stylesheet" href="{% static 'css/placeListGen.css' %}">
    <link href="{% static 'css/nouislider.css' %}" rel="stylesheet">
    <link href="{% static 'css/popular_users.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body style="background-color: #f8f6f8;">
    <div id="navbar-holder">{% include "navbar.html" with name=user %}</div>
    <br>
    <p id="user" hidden="hidden">{{user}}</p>
    <p id="region" hidden="hidden">{{region.get_name}}</p>
    <p id="place" hidden="hidden">{{place.get_name}}</p>
    <div style="display: grid; grid-row-gap: 20px;">
        <div id="setting" style="display:inline-grid; grid-row: 1 / 2; grid-template-columns: 200px">
            <select multiple class="selectpicker" title="Select Region" id="region_list_select" style="grid-column: 1 / 2;"></select>
            <select multiple class="selectpicker" title="Select Place" id="place_list_select" style="grid-column: 2 / 3;"></select>
            <label class="settingsRow" for="start_date" style="grid-column: 3 / 4;">Start Date:</label>
            <input type="date" id="start_date" name="start_date" style="grid-column: 4 / 5; width:160px">
            <label class="settingsRow" for="end_date" style="grid-column: 5 / 6;">End Date:</label>
            <input type="date" id="end_date" name="end_date" style="grid-column: 6 / 7; width:160px">
            <select multiple class="selectpicker" title="Select Search Words" id="search_words_select" style="grid-column: 7 / 8;"></select>
            <input style="grid-column: 8 / 9" type="text" id="word" name="word" placeholder="search word">
            <input style="grid-column: 9 / 10" type="submit" value="Add" id="add_word" onclick="addWord()">
            <input style="grid-column: 10 / 11" type="submit" value="Remove" id="remove_word" onclick="removeWord()">
        </div>
        <div id="actions" style="grid-row: 2 / 3; grid-template-columns: 200px" >
            <button class="actionRow" id="show_tweets" onclick="showTweets(this)">Inspect Tweets</button>
            <button class="actionRow" id="show_Users" onclick="showUsers()">Inspect Users</button>
            <button class="actionRow" id="show_quary">Twitter Origin</button>
            <button class="actionRow" id="collect_tweets" onclick="collectTweets()">Collect Tweets & Users</button>
            <!--<button class="actionRow" id="build_ai_charts" onclick="buildAICharts()">Build AI Charts</button>-->
            <select class="actionRow" id="analytics">
                <option value="prompt">Choose a Analysis:</option>
                <option value="Popular_word_per_date">Popular word per date</option>
                <option value="Word_trend">Phrase trend</option>
                <option value="Popularity_of_word_bank_per_place">Popularity of word bank per place</option>
                <option value="Popular_word_per_place">Popular word per place</option>
                <option value="Opinion_Leaders">Opinion Leaders</option>
                <option value="First_Time">First Time</option>
                <option value="Most_Retweeted">Most Retweeted</option>
                <!--<option value="Phrase_trend">Phrase trend</option>-->
                <!--<option value="Opinion_Leaders_by_phrase">Opinion Leaders by phrase</option>-->
            </select>
            <button class="actionRow" id="run_analytics" onclick="runAnalysis()">Run Analysis</button>
        </div>
    </div>
    <div align="center" id="AIcharts"></div>
    <div style="text-align:center;" id="results"></div>
    <div id="tweets_table">
    <table id="ttable" class="table table-striped" data-toggle="table"
               data-show-columns="true" data-show-export="true" data-search="true" data-advanced-search="true"
               data-filter-control="true" data-pagination="true">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="text">text</th>
                    <th data-field="username" data-filter-control="select" >user screen name</th>
                    <th data-field="userLocation" data-filter-control="select" >user location</th>
                    <th data-field="coordinates">coordinates</th>
                    <th data-field="placeName" data-filter-control="select" >place full name</th>
                    <th data-field="created" data-filter-control="select" >created_at</th>
                    <!--<th data-field="category" data-filter-control="select">category</th>-->
                    <!--<th data-field="concept" data-filter-control="select">concept</th>-->
                    <!--<th data-field="entities" data-filter-control="select">entities</th>-->
                    <!--<th data-field="entities_sentiment" data-filter-control="select">entities sentiment</th>-->
                    <!--<th data-field="keywords" data-filter-control="select">keywords</th>-->
                    <!--<th data-field="keywords_sentiment" data-filter-control="select">keywords sentiment</th>-->
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="users_table">
        <table id="utable" class="table table-striped" style="width:100%" border="1" data-toggle="table" data-show-columns="true"
          data-show-export="true" data-search="true" data-advanced-search="true" data-filter-control="true" data-pagination="true"
            data-show-multi-sort="true" >
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="text">Description</th>
                <th data-field="username">User screen name</th>
                <th data-field="userLocation" data-filter-control="select" >User location</th>
                <th data-field="coordinates">Name</th>
                <th data-field="placeName" data-sortable="true" >Followers_count</th>
                <th data-field="created" data-filter-control="select">Created_at</th>
                <th data-field="total_retweet_count" data-sortable="true" >Retweet Count</th>
                <th data-field="total_favorites_count" data-sortable="true">Favorites Count</th>
                <th data-field="total_statuses_count" data-sortable="true">Statuses Count</th>
                <th data-field="verified" data-filter-control="select">Verified</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>
    </div>
    <div id="origin_table">
        <table id="otable" class="table table-striped" style="width:100%" border="1" data-toggle="table" data-show-columns="true"
          data-show-export="true" data-search="true" data-advanced-search="true" data-filter-control="true">
        <thead>
            <tr>
                <th data-field="region" data-filter-control="select" >Region</th>
                <th data-field="place" data-filter-control="select" >Place</th>
                <th data-field="link">Link</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>
    </div>
    <div id="first_time_table">
        <table id="ftttable" class="table table-striped" style="width:100%" border="1" data-toggle="table" data-show-columns="true"
          data-show-export="true" data-search="true" data-advanced-search="true" data-filter-control="true" data-show-multi-sort="true">
        <thead>
            <tr>
                <th data-field="id">Id</th>
                <th data-field="text" data-filter-control="select" >Text</th>
                <th data-field="screen_name" data-filter-control="select" >Screen Name</th>
                <th data-sortable="true" data-field="full_date">Full Date Time</th>
                <th data-sortable="true" data-field="time_rnk">Time Rank</th>
                <th data-field="search_word" data-filter-control="select">Search Word</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>
    </div>
    <div id="most_retweeted_table">
        <table id="mrtable" class="table table-striped" style="width:100%" border="1" data-toggle="table" data-show-columns="true"
          data-show-export="true" data-search="true" data-advanced-search="true" data-filter-control="true" data-show-multi-sort="true">
        <thead>
            <tr>
                <th data-field="id">Id</th>
                <th data-field="text" data-filter-control="select" >Text</th>
                <th data-field="screen_name" data-filter-control="select" >Screen Name</th>
                <th data-sortable="true" data-field="full_date">Full Date Time</th>
                <th data-sortable="true" data-field="retweet_count">Retweet Count</th>
                <th data-sortable="true" data-field="retweet_rnk">Retweet Rank</th>
                <th data-field="search_word" data-filter-control="select">Search Word</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>
    </div>
    <dialog id="populars_dialog" style="width:80%;background-color:#F4FFEF;border:1px dotted black;">
        <div id="sliders">
            <p class="slider_label">Followers:</p><div id="followers_slider" class="slider"></div>
            <p class="slider_label">Retweets:</p><div id="retweet_slider" class="slider"></div>
            <p class="slider_label">Favorites:</p><div id="favorites_slider" class="slider"></div>
            <p class="slider_label">Tweets:</p><div id="tweets_slider" class="slider"></div>
        </div>
        <button style="justify-content: center;" onclick="submitPopularUsers()">Submit</button>
    </dialog>
    <dialog id="first_time_dialog" style="width:80%;background-color:#F4FFEF;border:1px dotted black;">
        <div>
            <label for="ftd_max">Select Max Number of results per phrase:<input id="ftd_max" type="number" min="0" step="1"/></label>
            <button style="justify-content: center;" onclick="showFirstTime()">Submit</button>
        </div>
    </dialog>
    <dialog id="most_retweeted_dialog" style="width:80%;background-color:#F4FFEF;border:1px dotted black;">
        <div>
            <label for="mr_max">Select Max Number of results per phrase:<input id="mr_max" type="number" min="0" step="1"/></label>
            <button style="justify-content: center;" onclick="showMostRetweeted()">Submit</button>
        </div>
    </dialog>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% include "tableScripts.html" %}
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js"></script>
<script type="text/javascript" src="{% static 'js/tweets.js' %}"></script>
<script type="text/javascript" src="{% static 'js/analytics.js' %}"></script>
<script type="text/javascript" src="{% static 'js/placeListGen.js' %}"></script>
<script src="{% static 'js/nouislider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
</html>