   <table id="ttable" class="table table-striped" style="width:100%" border="1" data-toggle="table" data-show-columns="true"
          data-show-export="true" data-search="true" data-advanced-search="true" data-filter-control="true">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="text">Description</th>
                <th data-field="username">User screen name</th>
                <th data-field="userLocation" data-filter-control="select" >User location</th>
                <th data-field="coordinates">Name</th>
                <th data-field="placeName" >Followers_count</th>
                <th data-field="created" data-filter-control="select">Created_at</th>
                <th data-field="total_retweet_count">Retweet Count</th>
                <th data-field="total_favorites_count">Favorites Count</th>
                <th data-field="total_replies_count">Replies Count</th>
                <th data-field="total_quoted_count">Quoted Count</th>
                <th data-field="verified" data-filter-control="select">Verified</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>