<!doctype html>
{% load static %}
<html lang="en" style="background-color: #f8f6f8;">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.css">
</head>

<body style="background-color: #f8f6f8;">
    <div id="navbar-holder">{% include "navbar.html" with name=user %}</div>
    <p id="user" hidden="hidden">{{user}}</p>
    <p id="region" hidden="hidden">{{region.get_name}}</p>
    <p id="place" hidden="hidden">{{place.get_name}}</p>
    <br>
    {% include "placeListGen.html" %}
    <br>
    <button id="collect_tweets" onclick="collectTweets()">Collect Tweets</button>
    <button id="show_Users" onclick="showUsers()">Show Users</button>
    <br>
    {% include "usersTable.html" %}
</body>
{% include "basicScripts.html" %}
{% include "tableScripts.html" %}
<script type="text/javascript" src="{% static 'js/twitter_users.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tweets.js' %}"></script>

</html>